@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: "Nunito", sans-serif;
}


background-color: rgb(245,136,122);
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}

h1 {
  color: #e74c3c;
}

form{
  padding:30px;
}
/* HOME PAGE */
.home-navbar{
  background-color: rgb(245,136,122);
  color: black;
  text-align: center;
  padding: 10px 20px;
}
.home-navbar h3{
  padding: 0px;
}
.home-account-container{
  text-align: center;
  margin: 0px 0px 7px 0px;
  border-radius: 0px 0px 20px 20px;
  padding: 5px;
  background-color: rgb(245,136,122);
}
.home-button{
  color: white;
  background-color: black;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: bold;
  margin: 10px;
}
.home-button:hover{
  background-color: rgb(75,65,63);
}
.home-content-container{
  text-align: center;
}
.home-content-container h2{
  color: rgb(75,65,63);
  font-weight: bold;
}

/* QUIZ SELECTION PAGE */
.quizzes-navbar, .account-navbar {
  background-color: rgb(245,136,122);
  color: black;
  text-align: center;
  padding: 10px 20px;
}
.quizzes-navbar h3{
  padding: 0px;
}
.quizzes-navbar a, .account-navbar a{
  padding: 0px;
}
.quizzes-navbar a:hover, .account-navbar a:hover, .quiz-navbar a:hover{
  text-decoration: none;
  color: color: rgb(75,65,63);
}

/* QUIZ PAGE */
.quiz-navbar{
  background-color: rgb(232,232,232);
  color: black;
  text-align: center;
  padding: 10px 20px;
}
.quiz-container{
  background-color: rgb(232,232,232);
}
.quiz-container h3{
  padding: 7px;
  color: black;
}

/* ACCOUNT PAGE */
.account-content-container{
  padding-top: 10px;
  text-align: center;
}
.account-content-container img{
  max-width: 100px;
  margin: 15px;
}
.account-content-container a{
  color: rgb(17,104,214);
}

.login-container{
  text-align: center;
  padding: 10px;
}
.show-password-button{
  margin: 15px;
  transform: scale(1.5);
}


.quiz-next-button{
  background-color: rgb(52,152,219);
  color: white;
  padding: 8px 15px;
  border-radius: 30px;
  border: none;
}
.quiz-next-button:hover{
  background-color: rgb(60, 139, 190);
  cursor: pointer;
}

.notifications-switch-container{
  text-align: center;

}
.notifications-switch-container button{
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
}
